<table>
    <thead>
    <th>姓名</th>
    <th>年龄</th>
    </thead>
    <tbody>
    <!--<%for(var i=0;i<list.length;i++){var u=list[i];%>-->
    <!--<tr>-->
        <!--<td><%=u.name%></td>-->
        <!--<td><%=u.age%></td>-->
    <!--</tr>-->
    <!--<%}%>-->

    <%list.forEach(function (t) { %>
    <tr>
        <td><%=t.name%></td>
        <td><%=t.age%></td>
    </tr>
    <% })%>

    </tbody>

</table>