<!DOCTYPE html>
<html lang="en" >

<% var gameList = games %>
//
<table>
    <tbody>
    <% for(var i = 0;i < gameList.length;i++){var u = gameList[i]; %>
    <tr>
        <td><%= u.title %></td>
        <td><%= u.info %></td>
    </tr>
    <% } %>

    <% gameList.forEach(function (t) { %>
        <tr>
            <td><%= t.title %></td>
            <td><%= t.info %></td>
        </tr>
    <% }) %>

    </tbody>

</table>
<% var showcaseList = gameList %>
<% include defalut.ejs %>
<script>
</script>
</html>