<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <% include inc_css.html %>
    <style>
        .carousel .item {
            height: 420px;
        }
        .carousel img {
            width: 100%;
        }
    </style>
</head>
<body class="main-body">
<!--头部导航-->
<% include model/nav.ejs %>
<!-- 轮播模块 -->
<div id="maincarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#maincarousel" data-slide-to="0" class="active"></li>
        <li data-target="#maincarousel" data-slide-to="1" class=""></li>
        <li data-target="#maincarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <a href="nav/android">
                <img src="/images/1.png" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="/images/2.png" alt="">
            </a>
        </div>
        <div class="item">
            <a href="">
                <img src="/images/3.png" alt="">
            </a>
        </div>
    </div>
    <a href="#maincarousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#maincarousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<h1><%= title %></h1>
<p>welcome to <%= title %></p>

<%include model/showcase.ejs%>

<div id="westdiv"
     data-options="region:'west'"
     style="width: 200px;overflow: hidden;">
    <!--<jsp:include page="./jsp/layout/west.jsp"></jsp:include>-->
</div>

<div style="height: 2000px; width:100%;">
    <!--<jsp:include page="./jsp/layout/center.jsp"></jsp:include>-->
</div>

<footer>
    <% include model/footer.ejs %>
</footer>

<!--<div id="mm" class="easyui-menu" style="width:150px;">-->
<!--<div id="mm-tabclose">关闭</div>-->
<!--<div id="mm-tabcloseall">全部关闭</div>-->
<!--<div id="mm-tabcloseother">除此之外全部关闭</div>-->
<!--<div class="menu-sep"></div>-->
<!--<div id="mm-tabcloseright">当前页右侧全部关闭</div>-->
<!--<div id="mm-tabcloseleft">当前页左侧全部关闭</div>-->
<!--<div class="menu-sep"></div>-->
<!--<div id="mm-exit">退出</div>-->
<!--</div>-->
<!--<jsp:include page="/jsp/model/login.jsp"></jsp:include>-->
<!--<jsp:include page="/jsp/model/regist.jsp"></jsp:include>-->
<!--<jsp:include page="/jsp/model/repassword.jsp"></jsp:include>-->
</body>
<% include inc_js.html %>
<script type="text/javascript">
//    设置轮播时间
    $('#maincarousel').carousel({
        interval: 3000
    })


    var _menus = {
        "menus": [{
            "menuid": "1",
            "icon": "icon-sys",
            "menuname": "收藏首页",
            "menus": [{
                "menuid": "11",
                "menuname": "我的收藏",
                "icon": "icon-add",
                "url": "./jsp/model/mypages.jsp"
            }, {
                "menuid": "12",
                "menuname": "标签管理",
                "icon": "icon-nav",
                "url": "./jsp/model/mytags.jsp"
            }]
        }, {
            "menuid": "2",
            "icon": "icon-sys",
            "menuname": "我的好友",
            "menus": [{
                "menuid": "21",
                "menuname": "好友列表",
                "icon": "icon-nav",
                "url": "./jsp/model/myfriends.jsp"
            }, {
                "menuid": "22",
                "menuname": "好友添加",
                "icon": "icon-nav",
                "url": "./jsp/model/addfriends.jsp"
            }]
        }, {
            "menuid": "3",
            "icon": "icon-sys",
            "menuname": "我的设置",
            "menus": [{
                "menuid": "31",
                "menuname": "个人信息",
                "icon": "icon-nav",
                "url": "./jsp/model/mymsg.jsp"
            }, {
                "menuid": "32",
                "menuname": "个人资料修改",
                "icon": "icon-nav",
                "url": "./jsp/model/user_remsg.jsp"
            }]
        }, {
            "menuid": "4",
            "icon": "icon-sys",
            "menuname": "我的网评",
            "menus": [{
                "menuid": "41",
                "menuname": "我发表的评论",
                "icon": "icon-nav",
                "url": "./jsp/model/mydiscuss.jsp"
            }, {
                "menuid": "42",
                "menuname": "对我的评论",
                "icon": "icon-nav",
                "url": "./jsp/model/otherdiscuss.jsp"
            }]
        }]
    };
    $(function () {
        $.ajax({
            url: 'user_getmyinfo.action',
            success: function (data) {
                var d = $.parsejson(data);
                if (d != null) {
                    $('#loginmsg').empty();
                    var usermsg = "";
                    usermsg += '<div>欢迎 ' + d.username + ' </div>';
                    $('#loginmsg').append(usermsg);
                    $('#repwddiv').show();
                    //显示导航功能 绑定双击 及右键 。
                    initleftmenu();
                    $.parser.parse($('#acc'));
                    tabclose();
                    tabcloseeven();
                }
            }
        });
    });
</script>
</html>
