<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include inc_css.html %>
</head>
<body class="main-body">
<!-- 导航 -->
<div>
    <% include model/nav.ejs %>
</div>
<!-- 轮播模块 -->
<div>
    <% include model/carousel.ejs %>
</div>
<!--展示页模块-->
<div>
    <div class="container">
        <div class="row">
            <% showcaseList.forEach(function (showcaseValue, index) {
                var cActive = index === 0 ? 'active' : null; %>
            <div class="col-md-4 col-xs-6">
                <% include model/showcase_item.ejs %>

            </div>
            <% }); %>
        </div>
    </div>
</div>
<!--底部-->
<div>
    <% include model/footer.ejs %>
</div>

<!--<div id="mm" class="easyui-menu" style="width:150px;">-->
<!--<div id="mm-tabclose">关闭</div>-->
<!--<div id="mm-tabcloseall">全部关闭</div>-->
<!--<div id="mm-tabcloseother">除此之外全部关闭</div>-->
<!--<div class="menu-sep"></div>-->
<!--<div id="mm-tabcloseright">当前页右侧全部关闭</div>-->
<!--<div id="mm-tabcloseleft">当前页左侧全部关闭</div>-->
<!--<div class="menu-sep"></div>-->
<!--<div id="mm-exit">退出</div>-->
<!--</div>-->
<!--<jsp:include page="/jsp/model/login.jsp"></jsp:include>-->
<!--<jsp:include page="/jsp/model/regist.jsp"></jsp:include>-->
<!--<jsp:include page="/jsp/model/repassword.jsp"></jsp:include>-->
<div>
    <% include inc_js.html %>
    <script type="text/javascript">
        //    设置轮播时间
        $('#maincarousel').carousel({
            interval: 2000
        })
        $(function () {
            $.ajax({
                url: 'user_getmyinfo.action',
                success: function (data) {
                    var d = $.parsejson(data);
                    if (d != null) {
                        $('#loginmsg').empty();
                        var usermsg = "";
                        usermsg += '<div>欢迎 ' + d.username + ' </div>';
                        $('#loginmsg').append(usermsg);
                        $('#repwddiv').show();
                        //显示导航功能 绑定双击 及右键 。
                        initleftmenu();
                        $.parser.parse($('#acc'));
                        tabclose();
                        tabcloseeven();
                    }
                }
            });
        });
    </script>
</div>

</body>
</html>
