
:root {
    --nav-height: 50px;
}

/* -------------------------------------------------------- */

.main-body {
    padding-top: var(--nav-height);
}

/* --------------------------------------------------------nav start */

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    height: var(--nav-height);
}

.navbar-nav a {
    color: #888;
}

/* --------------------------------------------------------nav end */
/* --------------------------------------------------------carousel start */

#maincarousel {
    margin-bottom: 50px;
}

.carousel .item {
    height: 420px;
}

.carousel img {
    width: 100%;
}
/* --------------------------------------------------------carousel end */
/* --------------------------------------------------------showcase.css start */
.showcase {
}

.showcase a {
    color: #888;
    text-decoration: none;
}

.showcase_img img {
    width: 100%;
    height: auto;
}

.showcase h4 {
    position: relative;
    margin: 10px 0;
    font-size: 14px;
    color: #686868;
    font-weight: bold;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
    padding-left: 15px;
}
.showcase .showcase_text {
    height:130px;
    overflow: hidden;
}
.showcase .showcase_info {
    color: #909090;
    font-size: 12px;
    overflow: hidden;
    max-height: 57px;
}
/* --------------------------------------------------------showcase.css end */
/* -------------------------------------------------------- footer start*/
.main-footer {
    background: #000000;
    padding: 10px 0;
}

.main-footer .toTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 10px;
    text-align: center;
    line-height: 50px;
}

.main-footer .title {
    color: #ffffff;
}

.main-footer a {
    color: #959595;
}

.main-footer .tag-cloud a {
    border: 1px solid #303030;
    padding: 4px 8px;
    margin: 6px;
    float: left;
}

.main-footer .copyright {
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #555;
}

/* -------------------------------------------------------- footer end*/
