<nav class="navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#my-navbar-collapse"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">LOGO</a>
        </div>

        <div id="my-navbar-collapse" class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <!--<audio controls="controls">-->
                <!--<source src="" type="audio/ogg">-->
                <!--<source src="" type="audio/mpeg">-->
                <!--Your browser does not support the audio tag.-->
                <!--</audio>-->
                <!--<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=50-->
                <!--src="//music.163.com/outchain/player?type=2&id=32544812&auto=1&height=32"></iframe>-->

            </div>

            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
                <li><a href="/game">游戏资讯</a></li>
                <li><a href="">前端开发</a></li>
                <li><a href="/android">安卓开发</a></li>
                <li><a href="/tools">小工具</a></li>
                <li><a href="/管理后台">管理后台</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </div>
</nav>

